<div class="pageContainer">
<br>
  <form action="/login" method="POST" enctype ="application/x-www-form-urlencoded">
    <label for="username">Username: </label>
    <input type = "text" name="username" placeholder="username">
    <br>
    <br>
    <label for="password">Password: </label>
    <input type = "text" name="password" placeholder="password">
    <br>
    <br>
    <input type = "submit" name="login" value="Login">

  </form>

  <br>
  <br>

  <a href="/register">Or register here</a>

{{!--   <form action="/register" method="GET" enctype ="application/x-www-form-urlencoded">
    <input type = "submit" name="register" value="Register">

  </form> --}}

</div>