{{>header}}
<div class="pageContainerForm">
  <form action="/gallery" class="newForm" method="POST" enctype ="application/x-www-form-urlencoded">
    <label for="author">Author: </label>
    <input type = "text" name="author" placeholder="author name">
    <br>
    <br>
    <label for="url">Image url: </label>
    <input type = "text" name="url" placeholder="url">
    <br>
    <br>
    <label for="description">Description: </label>
    <input type = "text" name="description" placeholder="description">
    <br>
    <br>

    <ul id="metaFieldsList"></ul>

    <button id="addMetaFieldsBtn" type="button">Add Meta Fields</button>

    <br>
    <br>

    <input type = "submit" name="submit" placeholder="submit">

  </form>

  <script src="/metaFields.js"></script>
</div>