{{>header}}
<div class="pageContainer">
  <form action="/gallery" class="newForm" method="POST" enctype ="application/x-www-form-urlencoded">
    <label for="author">Author: </label>
    <input type = "text" name="author" placeholder="author name">
    <br>
    <br>
    <label for="url">Image url: </label>
    <input type = "text" name="url" placeholder="url">
    <br>
    <br>
    <label for="description">Description: </label>
    <input type = "text" name="description" placeholder="description">
    <br>
    <br>
    <input type = "submit" name="submit" placeholder="submit">
  </form>
</div>