<div class="pageContainer">
<br>
  <form action="/register" method="POST" enctype ="application/x-www-form-urlencoded">
    <label for="username">Choose a username: </label>
    <input type = "text" name="username" placeholder="username">
    <br>
    <br>
    <label for="password">Choose a password: </label>
    <input type = "text" name="password" placeholder="password">
    <br>
    <br>
    <input type = "submit" name="register" value="Register">

  </form>

</div>